@import "../../../AppStyle.scss";

.navigation-list {
    padding: 5px;

    li {
        width: 100%;
        margin-top: 0;


        .navigation-item {
            @include custom-button;
            background-image: linear-gradient(#144b0a, #47ac20);
        }

    }

}

.subSection {
    width: auto;
    padding-left: 0;

    li button {
        background-color: #16480b;

        @include custom-button;

        a {
            display: inline-block;
            width: 100%;
            color: white;
            text-decoration: none;

            &:active {
                color: yellow
            }
        }
    }
}

.errorClass {
    display: inline;
    color: red;
    padding-left: 20px;
}