.Form {
    background-color: #dbe2cc;
    padding-bottom: 5%;
}

.formClassChild {
    float: left;
    width: 50%;
    margin-right: 40px;

}

.input-form>* {
    margin: 10px 0;
}

.disabled {
    display: none;
}

option {
    color: #000;
}

.selectform {
    margin-right: 40px;

    p {
        text-align: center;
        color: gray;
        margin-bottom: 5px;
        background-color: #dbe2cc;
    }

    select {
        float: left;
    }
}

.autoScoring {

    margin-top: 20px;
    width: 400px;
}